# Tipos de Variáveis

<img src="../../assets/Tipos%20de%20Variáveis.jpg" alt="Descrição da Imagem" width="900">

Quando a gente trabalha com dados, tudo começa com uma pergunta:  
**O que eu quero observar ou medir?**

A resposta para isso é o que chamamos de **variável**.

### O que são variáveis?

Variáveis são as **características** que vamos analisar em um grupo de pessoas, objetos, eventos, etc.  
Elas podem ser **qualitativas** (categorias) ou **quantitativas** (números).

Saber o tipo de variável é **essencial** para escolher o gráfico certo, a fórmula certa e tirar boas conclusões.

---

### 1. Variáveis Qualitativas (também chamadas de Categóricas)

São aquelas que representam **características ou qualidades**.  
Elas **não** lidam com números que você pode somar ou subtrair — e sim com **categorias**.

#### Variáveis Qualitativas **Nominais**

- São variáveis **não numéricas** e **sem nenhuma ordem ou hierarquia** entre os valores.  
- Servem apenas para **identificar** ou **classificar** categorias distintas.  
- Não faz sentido organizar os valores de forma crescente ou decrescente.

**Exemplos:**
- Cor dos olhos (Azul, Castanho, Verde)  
- Estado civil (Solteiro, Casado, Divorciado)  
- Tipo sanguíneo (A, B, AB, O)  
- Gênero (Feminino, Masculino)

Cada valor representa uma **categoria diferente**, e nenhuma é “maior” ou “menor” que a outra — são apenas **rótulos**.


#### Variáveis Qualitativas **Ordinais**

- São variáveis **não numéricas** (qualitativas), mas que podem ser **colocadas em uma ordem** ou **hierarquia**.  
- Mesmo sem representar números, os valores têm **uma sequência lógica** ou **grau de intensidade**.

**Exemplos:**
- Nível de escolaridade (Fundamental, Médio, Superior)  
- Grau de satisfação (Insatisfeito, Neutro, Satisfeito)  
- Classificação em uma competição ($1º$ lugar, $2º$ lugar, $3º$ lugar)

A ordem **importa**, mas a **diferença entre os níveis** não pode ser medida com precisão.


---

### 2. Variáveis Quantitativas (também chamadas de Numéricas)

São aquelas que indicam **quantidades**, medidas ou contagens.  
Aqui os dados **são números** — e você pode fazer operações matemáticas com eles.

#### Variáveis Quantitativas **Discretas**

- São variáveis numéricas que representam **contagens**.  
- Os valores possíveis são **separados** uns dos outros (não formam uma sequência contínua).  
- Você **consegue contar** esses valores, um por um — como $0, 1, 2, 3...$

**Exemplos:**
- Número de filhos em uma família  
- Quantidade de carros em uma garagem  
- Número de alunos em uma sala

Essas variáveis **não** assumem valores "quebrados", como $2,5$ ou $3,7$ — apenas **números inteiros**.


#### Variáveis Quantitativas **Contínuas**

- São variáveis numéricas que representam **medidas**.  
- Os valores possíveis formam um **intervalo contínuo**, ou seja, **não há "saltos" entre eles**.  
- Entre dois valores, sempre é possível encontrar **outros valores**.

**Exemplos:**
- Altura de uma pessoa  
- Peso de um objeto  
- Temperatura ambiente

Essas variáveis podem ter **números decimais**, como $1,75$ ou $36,4$, pois são obtidas por **medição** e não por contagem.

Mesmo que a gente arredonde os valores na prática, teoricamente há **infinitas possibilidades** entre dois pontos.


---

### Resumo geral

| Tipo              | Subtipo   | Explicação rápida                          | Exemplo                         |
|------------------|-----------|--------------------------------------------|---------------------------------|
| Qualitativa       | Nominal   | Categoria sem ordem                        | Cor dos olhos, time de futebol  |
| Qualitativa       | Ordinal   | Categoria com ordem                        | Escolaridade, grau de dor       |
| Quantitativa      | Discreta  | Contagem, valores inteiros                 | Número de filhos, gols no jogo  |
| Quantitativa      | Contínua  | Medição, pode ter frações ou decimais      | Altura, peso, tempo              |

---

### Importando bibliotecas

In [1]:
import pandas as pd

### Conhecendo nossos dados

In [2]:
dados = pd.read_csv(r"../../dados/datasets/amostra-de-domicilios.csv")
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

### Variáveis Qualitativas **Ordinais**

- ### Anos de Estudo
Nesse caso esta seguindo uma ordem começando pelo infanto 1 até o médio 17

In [3]:
dados["Anos de Estudo"].unique()

array([12, 15,  6,  9, 14, 16, 10,  1,  5,  7,  3,  2,  4,  8, 11, 17, 13])

In [4]:
sorted(dados["Anos de Estudo"].unique().tolist())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

### Variáveis Qualitativas **Nominais**

- ### UF

In [5]:
dados["UF"].unique()

array([11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31,
       32, 33, 35, 41, 42, 43, 50, 51, 52, 53])

In [6]:
sorted(dados["UF"].unique().tolist())

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 41,
 42,
 43,
 50,
 51,
 52,
 53]

- ### Sexo
$0$ representando masculino   
$1$ representando feminino

In [7]:
sorted(dados["Sexo"].unique().tolist())

[0, 1]

- ### Cor
$0$ Indígena

$2$ Branca 

$4$ Preta

$6$ Amarela 
  	
$8$ Parda

In [8]:
sorted(dados["Cor"].unique().tolist())

[0, 2, 4, 6, 8]

### Variáveis Quantitativas **Discretas**

- ### Idade

In [9]:
print(
    f"Idade é uma variável quantitativa Discreta de {dados['Idade'].min()} "
    f"até {dados['Idade'].max()} anos no nosso dataset."
)

Idade é uma variável quantitativa Discreta de 13 até 99 anos no nosso dataset.

#### A Idade e Suas Diferentes Classificações

A variável "idade" pode ser **classificada** de maneiras diferentes dependendo de como ela é coletada ou usada na análise estatística.

##### 1. Quantitativa **Contínua**
- Quando a idade é medida com **mais precisão**, como em **anos, meses, dias** ou até com decimais.
- Exemplo: 23,5 anos — ou seja, idade exata ou estimada por medição.

##### 2. Quantitativa **Discreta**
- Quando a idade é expressa apenas em **números inteiros**.
- Exemplo: 25 anos, 40 anos — uma contagem simplificada, comum em pesquisas e cadastros.

##### 3. Qualitativa **Ordinal**
- Quando a idade é agrupada em faixas etárias **ordenadas**, indicando uma **hierarquia** de fases da vida.
- Exemplo:  
  - Criança (0–12 anos)  
  - Adolescente (13–17 anos)  
  - Adulto (18–59 anos)  
  - Idoso (60 anos ou mais)

Essas faixas podem variar conforme o estudo, mas o importante é que existe uma **ordem lógica** entre elas.

**Resumo:**  
A mesma informação (idade) pode ser tratada de forma **contínua, discreta ou ordinal**, dependendo do **nível de detalhe**, da **forma de coleta** ou do **objetivo da análise**.

---

### Variáveis Quantitativas **Contínua**

In [10]:
print(
    f"Altura é uma variável quantitativa Contínua de {round(dados['Altura'], 2).min()} "
    f"até {round(dados['Altura'], 2).max()} metros no nosso dataset."
)

Altura é uma variável quantitativa Contínua de 1.34 até 2.03 metros no nosso dataset.